<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logan Henderson</title>
    <link rel="stylesheet" href="https://use.typekit.net/wwr0ssf.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/937b741acc.js" crossorigin="anonymous"></script>
    <style>
        body{
            font-family: itc-american-typewriter,serif;
            font-weight: 500;
            font-style: normal;
            color: #FBF3DD;
            text-align: center;
            font-size: 28px;
        }

        h1{
            font-size: 60px;
            margin-bottom: 90px;
            text-align: center;
            font-family: almaq-rough, sans-serif;
font-weight: 400;
font-style: normal;
        }
        h3{
            font-family: itc-american-typewriter,serif;
            font-weight: 500;
            font-style: normal;
            font-size: 22px;
            margin-top: 80px;

        }
        .tile{
            height: 16rem;
        }
        .greenback{
            background-color: #2aad71;
        }
        i{
            color: #2aad71;
            margin: 20px;
        }
        a div{
            text-decoration: none;
            color: #FBF3DD;
        }
        a:hover{
            text-decoration: none;
        }
        .greenback:hover{

        }
        .nogreenback:hover{

        }
    </style>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="navbar">
            <ul class="nav">
                <li class="nav-item"><a href="https://github.com/logandee"><i class="fab fa-github"></i></a></li>
                <li class="nav-item"><a href="https://www.linkedin.com/in/logandhenderson/"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="nav-item"><a href="mailto: logandeehenderson@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>
        <h3 class="intro">Hello! my name is</h3>
        <h1 class="intro">Logan Henderson</h1>
        <h3 class="intro">and this is</h3>
        <div class="row">
            <div class="greenback tile rounded-lg col-md">About Me</div>
            <a class="rounded-lg col-md" href="/Projects"><div class="tile nogreenback rounded-lg col-md">Projects</div></a>
            <a class="rounded-lg col-md" href="/Projects"><div class="greenback tile rounded-lg col-md">R&#233;sum&#233;</div></a>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>